@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card{
  background: whitesmoke;
  padding: 2rem 5rem;
  
  
}

.card p {
  padding-top: 1rem ;
  line-height: 100%;

}

.expand{
  width:20rem;
}